
<%= form_for(@workout) do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Type %><br />
    <%= f.text_field :Type %>
  </div>
  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Exersise1 %><br />
    <%= f.text_field :Exersise1 %>
  </div>
  <div class="field">
    <%= f.label :Weight %><br />
    <%= f.text_field :Weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
